.fixed-and-resize-table-container .resize-and-fixed-table {
  table-layout: fixed;
  width: 100%;
  border: none;
}
.fixed-and-resize-table-container .resize-and-fixed-table th,
.fixed-and-resize-table-container .resize-and-fixed-table td {
  margin-left: 0em;
  margin-right: 0em;
  font-size: 12.5px !important;
  overflow: hidden;
  white-space: nowrap;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis !important;
  outline: 1px solid rgb(208, 208, 216);
  border: none;
  padding: 5px;
  min-width: 80px;
  -webkit-min-width: 80px;
}
.fixed-and-resize-table-container .resize-and-fixed-table thead {
  background-color: #f9fafb;
  top: 0;
}
.fixed-and-resize-table-container
  .resize-and-fixed-table
  thead
  tr
  .table-header {
  color: #60646c;
  position: sticky;
  top: 0;
}
.fixed-and-resize-table-container
  .resize-and-fixed-table
  thead
  tr
  .table-header
  p:hover
  .fixed-icon {
  display: block;
}
.fixed-and-resize-table-container
  .resize-and-fixed-table
  thead
  tr
  .table-header
  p
  .fixed-icon {
  display: none;
  position: absolute;
  right: 2px;
  top: -10%;
  cursor: pointer;
  z-index: 1;
}
.fixed-and-resize-table-container .resize-and-fixed-table tr .fixed-cell {
  position: -webkit-sticky !important;
  position: sticky !important;
  z-index: 1;
  background-color: #f9f9fb;
  outline: 1px solid rgb(208, 208, 216);
  border: none;
}
.fixed-and-resize-table-container .resize-and-fixed-table tr:hover {
  background-color: rgba(102, 51, 153, 0.199);
}
.fixed-and-resize-table-container .resize-and-fixed-table .selected-row {
  background-color: rgba(102, 51, 153, 0.068);
}
/* width */
